* {
    font-family: poppins;
}

.wrapper {
    background-color: #FCFEFF;
    height: 100vh;
    display: flex;
}

.image_login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    margin: 160px 120px 170px 170px;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1068px;
}

.header-first {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 41px;
    flex-shrink: 0;
    color: #000;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 150px;
}

.paragraph-info {
    color: #7C838A;
    font-size: 20px;
    font-weight: 500;
    margin-left: 110px;
}

.inputs {
    display: flex;
    height: 60px;
    border-radius: 15px;
    padding-left: 23px;
    background: rgba(176, 186, 195, 0.40);
    border: none;
    width: 750px;
    margin-left: 110px;
}

input:focus {
    outline-color: #3FBDF1;
}

.field-error {
    color: #DC143C;
    display: none;
}

.field-error-visible {
    display: inline-block;
    margin-left: 110px;
    position: absolute;
}

.acc-error {
    color: #DC143C;
    display: none;
}

.acc-error-visible {
    display: inline-block;
    margin-left: 415px;
    bottom: 380px;
    position: absolute;
}


.registration-error {
    color: #DC143C;
    display: none;
}

.registration-error-visible {
    display: inline-block;
    position: absolute;
}

.genderRegistration-error {
    color: #DC143C;
    display: none;
}

.genderRegistration-error-visible {
    display: inline-block;
    position: absolute;
    bottom: -740px;
    left: 560px;
}

/* .checkPassword {
    color: #DC143C;
    display: none;
}
 

.checkPassword-visible {
    display: inline-block;
    position: absolute;
    bottom: -740px;
    left: 560px;
} */


.button {
    display: flex;
    justify-content: center;
    color: #000;
    font-size: 26px;
    font-weight: 500;
    width: 750px;
    margin-left: 145px;
    border-radius: 30px 20px;
    background: #E5EFF8;
    border: none;
}

button:hover {
    color: #3FBDF1;
    cursor: pointer;
}

.or {
    display: flex;
    justify-content: center;
    color: #B0BAC3;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 45px;
}

.account {
    display: flex;
    justify-content: center;
    color: #7C838A;
    font-size: 18px;
    font-weight: 400;
}

.account a {
    color: #6EB6FF;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}

.user_info_block {
    margin-bottom: 80px;
    margin-left: 30px;
}

.user_email {
    margin-bottom: 30px;
}

.button {
    margin-bottom: 75px;
}

.wrapper-2 {
    display: flex;
    background-color: #FCFEFF;
    height: 100vh;
}

.registration {
    width: 1068px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-form-two {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 60%;
    margin-top: 200px;
}

.header-second {
    color: #000;
    font-size: 26px;
    font-weight: 600;
    margin-top: 131px;
}

.paragraph-info-2 {
    color: #7C838A;
    font-size: 20px;
    font-weight: 500;
}

.inputs-two {
    display: flex;
    height: 60px;
    border-radius: 15px;
    padding-left: 23px;
    background: rgba(176, 186, 195, 0.40);
    border: none;
    width: 750px;
}

.inputs-age {
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    width: 110px;
    border-radius: 15px;
    background: rgba(176, 186, 195, 0.40);
    border: none;
    padding-left: 23px;
}

.gender-age {
    display: flex;
    margin-left: -75px;
    align-items: center;
    flex-direction: row;
    margin-bottom: 40px;
    margin-top: 40px;
}

.gender {
    margin-left: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.chose-gender {
    color: #7C838A;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    margin-left: 40px;
}

.male-or-female {
    display: flex;
    margin-top: -34px;
    gap: 90px;
}

#male {
    left: 560px;
    top: 1314px;
    color: #7C838A;
    font-size: 20px;
    font-weight: 500;
}

#female {
    left: 698px;
    top: 1314px;
    color: #7C838A;
    font-size: 20px;
    font-weight: 500;
}

label #male {
    border-radius: 50%;
}

/* .checkbox span {
    display: flex;
    align-items: center;
    position: relative;
} */

.checkbox input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Старался стилизовать чекбокс */
.checkbox span::before {
    content: "";
    display: block;
    position: relative;
    top: 35px;
    border-radius: 50%;
    background: rgba(176, 186, 195, 0.40);
    width: 40px;
    height: 40px;
    margin-left: -50px;
}

.checkbox span::after {
    content: "";
    display: none;
    position: absolute;
    top: 1665px;
    /* border-radius: 50%;
    background: rgba(176, 186, 195, 0.40); */
    width: 40px;
    height: 40PX;
    margin-left: -50px;
    background-image: url('data:image/svg+xml,<svg id="Flat" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><path d="M103.99951,190.00012a5.98047,5.98047,0,0,1-4.24219-1.75732l-56-55.99561a5.99971,5.99971,0,1,1,8.48438-8.48535l51.75781,51.75342L211.75732,67.76184a5.99971,5.99971,0,1,1,8.48438,8.48535l-112,111.99561A5.98045,5.98045,0,0,1,103.99951,190.00012Z"/></svg>')
}

.checkbox input:checked+span::after {
    display: block;
}


.button-2 {
    display: flex;
    justify-content: center;
    color: #000;
    font-size: 26px;
    font-weight: 500;
    width: 750px;
    border-radius: 30px 20px;
    background: #E5EFF8;
    border: none;
}

.name {
    margin-top: 10px;
}

.email {
    margin-top: 65px;
}

.password {
    margin-top: 65px;
}

.or-2 {
    display: flex;
    justify-content: center;
    color: #B0BAC3;
    font-size: 26px;
    font-weight: 500;
    margin: 20px 0;
}

@media screen and (max-width: 425px) {
    .body {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .wrapper,
    .wrapper-2 {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form {
        display: flex;
        align-items: center;
    }

    .header-first {
        margin-top: 100px;
    }

    .user_info_block {
        display: flex;
        flex-direction: column;
        margin-right: 32px;
    }

    .inputs {
        width: 385px;
        margin-right: 107px;
    }

    .button {
        display: flex;
        justify-content: center;
        width: 30%;
        margin-right: 141px;
    }

    .wrapper-2 {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-second {
        margin-bottom: 130px;
        margin-top: 80px;
    }

    .email {
        margin-top: 15px;
    }

    .password {
        margin-top: 15px;
    }

    .age {
        margin-left: -278px;
    }


    .image_login {
        width: 35%;
        position: absolute;
        top: -20px;
        left: -30px;
        height: unset;
    }

    .inputs-two {
        width: 385px;
    }

    .gender-age {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 15px 0 15px 257px;
        gap: 28px;
    }

    .male-or-female {
        gap: 60px;
        margin-left: 20px;
        margin-top: -46px;
    }

    .gender {
        margin-left: 20px;
    }

    .button-2 {
        width: 30%;
    }

    .chose-gender {
        margin-left: 26px;
    }



    .image-form-two {
        width: 35%;
        position: absolute;
        bottom: -455px;
    }

    .or-2 {
        margin: 15px 0;
    }

    /* .checkbox::before {
        content: "";
        display: block;
        position: absolute;
        top: 1490px;
        border-radius: 50%;
        background: rgba(176, 186, 195, 0.40);
        width: 40px;
        height: 40px;
        margin-left: -20px;
    } */

    .checkbox span::after {
        content: "";
        display: none;
        position: absolute;
        top: 1493px;
        /* border-radius: 50%;
        background: rgba(176, 186, 195, 0.40); */
        width: 40px;
        height: 40PX;
        margin-left: -50px;
        background-image: url('data:image/svg+xml,<svg id="Flat" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><path d="M103.99951,190.00012a5.98047,5.98047,0,0,1-4.24219-1.75732l-56-55.99561a5.99971,5.99971,0,1,1,8.48438-8.48535l51.75781,51.75342L211.75732,67.76184a5.99971,5.99971,0,1,1,8.48438,8.48535l-112,111.99561A5.98045,5.98045,0,0,1,103.99951,190.00012Z"/></svg>')
    }
}